1 RCDATA "ASPack.v2.42-Win32\\ASPack.chm"
2 RCDATA "ASPack.v2.42-Win32\\aspack.dll"
3 RCDATA "ASPack.v2.42-Win32\\ASPack.exe"
4 RCDATA "ASPack.v2.42-Win32\\aspack.x86"
5 RCDATA "ASPack.v2.42-Win32\\ASPack_ru.chm"
6 RCDATA "ASPack.v2.42-Win32\\Chinese BIG5.ini"
7 RCDATA "ASPack.v2.42-Win32\\Chinese GB.ini"
8 RCDATA "ASPack.v2.42-Win32\\Czech.ini"
9 RCDATA "ASPack.v2.42-Win32\\Danish.ini"
10 RCDATA "ASPack.v2.42-Win32\\Dutch.ini"
11 RCDATA "ASPack.v2.42-Win32\\English.ini"
12 RCDATA "ASPack.v2.42-Win32\\French.ini"
13 RCDATA "ASPack.v2.42-Win32\\German.ini"
14 RCDATA "ASPack.v2.42-Win32\\History.txt"
15 RCDATA "ASPack.v2.42-Win32\\Hungarian.ini"
16 RCDATA "ASPack.v2.42-Win32\\Indonesian.ini"
17 RCDATA "ASPack.v2.42-Win32\\Italian.ini"
18 RCDATA "ASPack.v2.42-Win32\\Japanese.ini"
19 RCDATA "ASPack.v2.42-Win32\\license.rtf"
20 RCDATA "ASPack.v2.42-Win32\\license_ru.rtf"
21 RCDATA "ASPack.v2.42-Win32\\Norwegian.ini"
22 RCDATA "ASPack.v2.42-Win32\\pcnsl.exe"
23 RCDATA "ASPack.v2.42-Win32\\Polski.ini"
24 RCDATA "ASPack.v2.42-Win32\\Portuguese-BR.ini"
25 RCDATA "ASPack.v2.42-Win32\\Russian.ini"
26 RCDATA "ASPack.v2.42-Win32\\Slovak.ini"
27 RCDATA "ASPack.v2.42-Win32\\Slovene.ini"
28 RCDATA "ASPack.v2.42-Win32\\Spanish.ini"
29 RCDATA "ASPack.v2.42-Win32\\Suomi.ini"
30 RCDATA "ASPack.v2.42-Win32\\Swedish.ini"
31 RCDATA "ASPack.v2.42-Win32\\Turkish.ini"
